%header.header
  %h1.logo=link_to 'Sample Site', '/modern'
  %nav.global-nav
    %ul
      %li.nav-item.active=link_to 'HOME','#'
      %li.nav-item=link_to 'ABOUT','#'
      %li.nav-item=link_to 'NEWS','#'
      %li.nav-item=link_to 'TOPICS','#'
      %li.nav-item=link_to 'DOCS','#'
      %li.nav-item=link_to 'BLOG','#'
.wrapper.clearfix
  .main
    %h2.hidden HOT TOPIC
    = link_to '#', class: 'hot-topic clearfix' do
      = image_tag("hot-topic.jpg", alt: "コーディング画面", class: 'image')
      .content
        %h3.title
          実務で使えるHTML/CSS
          %br モダンコーディングTIPS           
        %p.desc 
          Webフロントエンドの進化の勢いはとどまるところを知りません。新しい要素が増えて大幅に表現力が広がったHTML5/CSS3を活用して...
        %time.date{datetime: "2015-09-01"} 2015-09-01 TUE
    %h2.heading NEWS
    %ul.scroll-list
      %li.scroll-item
        = link_to '#' do
          %time.date{datetime: "2015-08-23"} 2015-08-23 SUN
          %span.category.news NEWS
          %span.title         WORKSを更新しました。
      %li.scroll-item
        = link_to '#' do
          %time.date{datetime: "2015-08-12"} 2015-08-12 WED
          %span.category TOPIC
          %span.title CSSでここまでできる！？ホントに使えるCSSセレクタ10選！
      %li.scroll-item
        = link_to '#' do
          %time.date{datetime: "2015-08-04"} 2015-08-04 TUE
          %span.category.news TOPIC
          %span.title         TOPICSを更新しました。
      %li.scroll-item
        = link_to '#' do
          %time.date{datetime: "2015-07-25"} 2015-07-25 SAT
          %span.category      TOPIC
          %span.title         CSSコーディングと切っても切れないWebブラウザのシェア動向をチェックしよう
      %li.scroll-item
        = link_to '#' do
          %time.date{datetime: "2015.07.09"} 2015.07.09 THU
          %span.category TOPIC
          %span.title         HTML5の新しい属性で手軽にフォームバリデーション
      %li.scroll-item
        = link_to '#' do
          %time.date{datetime: "2015-06-30"} 2015.06.30 TUE
          %span.category.news NEWS
          %span.title         WORKSを更新しました。  
    %h2.hidden ARTICLES
    .clearfix
      = link_to '#', class: 'article-box' do
        %h3.title 実務で使えるHTML/CSSモダンコーディングTIPS
        %p.desc 新しい要素が増えて大幅に表現力が広がったHTML5/CSS3を活用し、モダンなコーディングにチャレンジしましょう！
        %time.date{datetime: "2015-06-17"} 2015-06-17 WED
        = image_tag("article.jpg", alt: "コーディング画面", class: 'image')
      = link_to '#', class: 'article-box' do
        %h3.title 実務で使えるHTML/CSSモダンコーディングTIPS
        %p.desc 新しい要素が増えて大幅に表現力が広がったHTML5/CSS3を活用し、モダンなコーディングにチャレンジしましょう！
        %time.date{datetime: "2015-06-17"} 2015-06-17 WED
        = image_tag("article.jpg", alt: "コーディング画面", class: 'image')
      = link_to '#', class: 'article-box' do
        %h3.title 実務で使えるHTML/CSSモダンコーディングTIPS
        %p.desc 新しい要素が増えて大幅に表現力が広がったHTML5/CSS3を活用し、モダンなコーディングにチャレンジしましょう！
        %time.date{datetime: "2015-06-17"} 2015-06-17 WED
        = image_tag("article.jpg", alt: "コーディング画面", class: 'image')
      = link_to '#', class: 'article-box' do
        %h3.title 実務で使えるHTML/CSSモダンコーディングTIPS
        %p.desc 新しい要素が増えて大幅に表現力が広がったHTML5/CSS3を活用し、モダンなコーディングにチャレンジしましょう！
        %time.date{datetime: "2015-06-17"} 2015-06-17 WED
        = image_tag("article.jpg", alt: "コーディング画面", class: 'image')
  .sidemenu
    %h2.heading RANKING
    %ol.ranking
      %li.ranking-item
        =link_to '#' do
          = image_tag("ranking.jpg", alt:"グラフの画像", class: 'image')
          %span.order
          %p.text HTML/CSSコーディングと切っても切れないWebブラウザのシェア動向をチェックしよう
      %li.ranking-item
        =link_to '#' do
          = image_tag("ranking.jpg", alt:"グラフの画像", class: 'image')
          %span.order
          %p.text TOPICSを更新しました。
      %li.ranking-item
        =link_to '#' do
          = image_tag("ranking.jpg", alt:"グラフの画像", class: 'image')
          %span.order
          %p.text HTML/CSSコーディングと切っても切れないWebブラウザのシェア動向をチェックしよう
      %li.ranking-item
        =link_to '#' do
          = image_tag("ranking.jpg", alt:"グラフの画像", class: 'image')
          %span.order
          %p.text HTML5の新しい属性で手軽にフォームバリデーション
      %li.ranking-item
        =link_to '#' do
          = image_tag("ranking.jpg", alt:"グラフの画像", class: 'image')
          %span.order
          %p.text WORKSを更新しました。
    %h2.heading DOCUMENTS
    %ul.documents
      %li
        %h3.title HTML5
        %ul
          %li=link_to '追加された要素','#'
          %li=link_to '削除された要素','#'
          %li=link_to '意味が変わった要素','#'
          %li=link_to 'HTMLのコンテンツモデル','#'
      %li
        %h3.title  CSS3
        %ul
          %li=link_to '追加されたプロパティ','#'
          %li=link_to '追加されたセレクタ','#'
          %li=link_to '追加された単位素','#'
      %li
        %h3.title  JavaScript
        %ul
          %li=link_to 'JavaScriptの言語仕様','#'
          %li=link_to 'ECMAScriptとは？','#'
          %li=link_to 'jQueryとは？','#'
      %li
        %h3.title  Sass, Less, Stylus
        %p 準備中
      %li
        %h3.title  TypeScript
        %p 準備中
    %h2.hidden SEARCH
    %form.search-box
      %input.search-input{type: 'text', name:'seach', placeholder:'SEARCH'}
      %input.search-button{type: 'submit', value:'検索'}
      %p.text サイト内の文章を検索できます。         
%footer.footer
  %ul.horizontal-list
    %li.horizontal-item=link_to 'ABOUT ME','#'
    %li.horizontal-item=link_to 'SITE MAP','#'
    %li.horizontal-item=link_to 'SNS','#'
    %li.horizontal-item=link_to 'CONTACT','#'
  %p.copyright Copyright © 2015 SAMPLE SITE